<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net name="TestflowLogger">
    <root>
      <level value="ALL"/>
    </root>

    <logger name="Testflow.Platform">
      <appender-ref ref="PlatformLogger"/>
    </logger>

    <logger name="Testflow.Runtime">
      <appender-ref ref="RuntimeLogger"/>
    </logger>

    <!--平台日志-->
    <appender name="PlatformLogger" type="log4net.Appender.RollingFileAppender">
      <file value="log/platform.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="20MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date #[%thread]#%-5level #%logger #[%property{NDC}] - #%message%newline"/>
      </layout>
    </appender>

    <!--运行时日志-->
    <appender name="RuntimeLogger" type="log4net.Appender.FileAppender">
<!--      <file value="log/runtime.log"/> -->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <!--      <maxSizeRollBackups value="20"/>-->
      <!--      <maximumFileSize value="10MB"/>-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date #[%thread] #%-5level #%logger #[%property{NDC}] - #%message%newline"/>
      </layout>
    </appender>
  </log4net>

</configuration>